#main {
	width: 50%;
	height: 30px;
	margin-bottom: 20px;
	float: left;
	position: relative;
	left: 40px;
	top: 50px;
}

.content_item {
	width: auto;
	height: auto;
	border: 1px solid silver;
	padding: 5px 15px;
	color: #006dd9;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
	float: left;
	background-color: #F5BCA9;
	line-height: 30px;
	border-radius: 25%;
	z-index: 1;
	overflow: hidden;
	margin-right: 10px;
	position: relative;
    display: inline-block;
    cursor: pointer;
}

.submain {
	width: auto;
	height: 28px;
	color: #006dd9;
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	line-height: 30px;
	display: block;
}

.content_sub {
	cursor: pointer;
	display: none;
}

div.content_item:hover {
	display: block;
	height: auto;
	border-radius: 13%;
}

div.submain:hover {
	color: #fff;
}

div.content_item:hover .content_sub {
	display: block;
}

